---
layout: default
wrapper: index
---

{% for post in paginator.posts %}
  {% if post.subcategory == "single-link" %}

  <article class="promo-module {{post.category}}-module promo__single-link">
    <ul class="promo__meta">
      <li class="promo__publish-date">{{ post.date | date: "%b %-d, %Y" }}</li>
      <li class="promo__category">
        <!-- <a href="/{{post.category}}"> -->{{ post.category }}<!-- </a> --></strong>
      </li>
    </ul>
    {% for reference in post.references %}
    <h2 class="promo__title"><a href="{{ reference.url }}">{{ post.title }}</a></h2>
    <div class="promo__external-source">
      <p>Read on {{ reference.title }}</p>
    </div>
    <div class="promo__copy">
      {{post.content}}
    </div>
    {% endfor %}
  </article>

  {% else %}
  <article class="promo-module {{ post.category }}-module">

    <h2 class="promo__title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | strip_html }}</a></h2>

    <ul class="promo__meta">
      <li class="promo__publish-date">{{ post.date | date: "%b %-d, %Y" }}</li>
      <li class="promo__category">
        <!-- <a href="/{{post.category}}"> -->{{ post.category }}<!-- </a> --></strong>
      </li>
    </ul>

    <div class="promo__copy">
      {% if post.category == "book" %}
        <picture class="promo__book-cover">
          <source srcset="{{post.book.cover}}" media="(min-width: 767px)">
          <img src="{{post.book.cover}}" alt="cover of {{ post.book.title }} by {{ post.book.author }}" />
        </picture>
      {% endif %}

      {{ post.my-excerpt | markdownify }}
    </div>



  <!--
      {% if post.references and post.show-references != false %}
        <li class="post-references">Inspiration from
          <ul> {% for reference in post.references %}

            <li class="post-reference">
              <a href="{{ reference.url }}" target="_blank">
                <svg class="icon"><use xlink:href="#brain"></use></svg>
                {{ reference.title }}
              </a>
            </li>

          {% endfor%}</ul>
        </li>
      {% endif %}
       -->

  </article>
  {% endif %}
{% endfor %}

