<footer>
  <h4 class="snarky-title">Other sites in the Winston Hearn family of brands</h4>
  <ul>
    <li>
      <a href="https://github.com/{{ site.github_username }}">Winston on Github</a>
    </li>
    <li>
      <a href="https://twitter.com/{{ site.twitter_username }}">Winston on Twitter</a>
    </li>
    <li>
      <a href="http://winston.cc">Winston.cc</a>
    </li>
  </ul>
  <h4 class="snarky-title">Other Applicable Information</h4>
  <ul>
    <li>&copy;2014-2019 Winston Hearn</li>
    <li><a href="mailto:hello@wnstn.com">hello@wnstn.com</a></li>
    <li>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
    </li>
  </ul>
</footer>
<!-- <div class="fancy-background"></div> -->
<!-- whoa you're really curious
  is there uh, something you're looking for?
 -->
