<footer>
  <aside class="bio">
    <p>You are reading the personal website of Winston Hearn. I'm person who reads and writes and tries to fumble towards a better understanding of everything.</p>
    <p>I currently work as a Sr. Front End Engineer on the Revenue team at <a href="http://voxmedia.com">Vox Media</a>, building internal tools and platforms that help them make money. I spend much of my time outside of work co-parenting two badass kids. In my spare time I try to read, and I'm working to keep a log of that here, along with thoughts inspired by the things I read and learn.</p>
  </aside>
  <div class="footer-nav">
    <h4 class="snarky-title">Other sites in the Winston Hearn family of brands</h4>
    <ul>
      <li>
        <a href="https://github.com/{{ site.github_username }}">Winston on Github</a>
      </li>
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}">Winston on Twitter</a>
      </li>
      <li>
        <a href="http://winston.cc">Winston.cc</a>
      </li>
      <li>
        <a href="http://ouradventure.in">Our Adventure</a>
      </li>
    </ul>
    <h4 class="snarky-title">Other Applicable Information</h4>
    <ul>
      <li>&copy;2014-2015 Winston Hearn</li>
      <li><a href="mailto:hello@wnstn.com">hello@wnstn.com</a></li>
      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
      </li>
    </ul>
  </div>

</footer>
<!-- whoa you're really curious
  is there uh, something you're looking for?
 -->
