<footer>

  <div class="bio-photo">
    <img src="/img/bio-photo.jpg" alt="Winston and his son playing in a pile of leaves" />
  </div>

  <div class="bio">
    <h2>winston hearn dot com</h2>
    <p class="subtitle">I'm just a guy who does things that involve code and stuff.</p>
    <p class="bio-copy">Hello and thanks for following a link to my site and then deciding to read to the footer! I'm Winston. To make a living and pay the bills, I work on the front-end of websites. I work to make them performant and accessible, while trying to understand how to build things in user-friendly and developer-friendly forms. There is so much to learn!</p>
    <p class="bio-copy">Currently, I am working for Vox Media on the Revenue Products team. Vox is by far the best job I've ever had, and you should reach out if you want to learn about working there. Vox is working on a ton of fun and exciting things and genuinely care about promoting a healthy work environment amongst a diverse group of people.</p>
    <p class="bio-copy">Once the living has been made, I love reading good literature, riding my bike, and exploring the world with my family. We spent April 2013 - September 2014 road-tripping around the country, exploring cities and national parks, and we're itching to travel again.</p>
  </div>

  <div class="footer-nav">
    <h4 class="snarky-title">Other sites in the Winston Hearn family of brands</h4>
    <ul>
      <li>
        <a href="https://github.com/{{ site.github_username }}">Winston on Github</a>
      </li>
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}">Winston on Twitter</a>
      </li>
      <li>
        <a href="http://winston.cc">Winston.cc</a>
      </li>
      <li>
        <a href="http://ouradventure.in">Our Adventure</a>
      </li>
    </ul>
    <h4 class="snarky-title">Other Applicable Information</h4>
    <ul>
      <li>&copy;2014-2015 Winston Hearn</li>
      <li><a href="mailto:hello@wnstn.com">hello@wnstn.com</a></li>
      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
      </li>
    </ul>
  </div>

</footer>
<!-- whoa you're really curious
  is there uh, something you're looking for?
 -->
