<nav class="pagination">
  {% if paginator.total_pages > 1 %}
    <ul>

      <li>
        {% if paginator.previous_page_path %}
        <a class="paginate prev" href="{{ paginator.previous_page_path }}">Newer Posts</a>
        {% endif %}
      </li>


      <li>
        <p class="paginate-current">{{ paginator.page }} of {{ paginator.total_pages }}</p>
      </li>


      <li>
        {% if paginator.next_page_path %}
        <a class="paginate next" href="{{ paginator.next_page_path }}">Older Posts</a>
        {% endif %}
      </li>

  {% endif %}
  </ul>
</nav>
