
.book-image {
  position: relative;
  text-align: center;

  img {
    border: 10px solid rgba($muted-purple, .2);
    max-height: 250px;

    @include breakpoint(1030) {
      border: 1px solid $muted-purple;
    }
  }

  @include breakpoint(1030){
    position: absolute;
    left: 1em;
    max-width: 180px;
  }

}

.book-details {
  margin: 1em auto 4em;
  border-bottom: 1px solid rgba($muted-purple, .2);
  font-size: 80%;

  .book-title,
  .book-author,
  .book-content,
  .book-published {
    line-height: 1.3em;
    margin-bottom: .3em;
  }
}

.book-title {
  margin-top: 1em;
  margin-bottom: .7rem;
}

.book-author {
  margin-bottom: .4rem;
}

.book-published {
  margin-bottom: 2rem;
}


.book-content blockquote {
  padding: 1em;
  margin-left: -1em;
  margin-right: -1em;
  width: calc(100% + 2em);
}
