footer {
  @include span-columns(12);
  margin-top: 3em;
  background-color: $orange;
  text-align: center;

  ul {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  li {
    @include break($on-palm) {
      float: left;
      margin-right: 2em;
      @include clearfix;
    }
  }
}
