.pattern-bg {
  background-image: url(/img/header.svg);
  background-position: 0 70%;
  background-size: 100% auto;
  height: 4rem;

  @include breakpoint(600) {
    height: 12rem;
  }
}

header {
    font-size: .7rem;
    height: 100%;
    position: relative;

  a {
    display: block;
    padding-top: 1em;
    border-bottom: none;
    text-align: center;
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }

    @include breakpoint(600) {
      text-align: left;
      margin-left: 5%;
      padding-top: 9.5rem;
    }
  }

  .author h1 {
    color: white;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
    width: 100%;
    @include breakpoint(600) {
      font-size: 2em;
    }
  }
}
