.index {

  article {
    border-bottom: 1px $grey-color-light dotted;
    padding-bottom: 2em;
    margin-bottom: 2em;
    @include outer-container();
    @include clearfix;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    @include break($on-laptop) {
      min-height: 12em;
      &:last-child {
        height: 10em;
      }
    }
  }

  .post-details {
    @include span-columns(16 of 18);
    @include shift(1);

    @include break($on-palm) {
      @include span-columns(8 of 11);
      @include shift(0);
    }

    @include break($on-laptop) {
      @include span-columns(9 of 12);
      @include clearfix;
    }
  }

  .post-image-container {
    @include span-columns(12);
    text-align: center;

    @include break($on-palm) {
      @include span-columns(2 of 11);
    }

    @include break($on-laptop) {
      @include span-columns(1 of 12);
      @include shift(1);
    }
  }

  .post-title {
    @include span-columns(11 of 11);
    line-height: 1.6rem;
    padding-top: 1rem;

    @include break($on-palm) {
      font-size: 1.7em;
      line-height: 1.8rem;
    }

    @include break($on-laptop) {
      @include span-columns(6 of 8);
      @include clearfix;
      font-size: 2rem;
      line-height: 2.3rem;
      text-decoration: none;
    }
  }

  .post-excerpt {
    @include span-columns(11 of 11);
    color: $grey-color-dark;
    font-family: $serif-font;
    font-size: 1.05rem;
    margin-bottom: 1em;
    text-indent: 1rem;

    @include break($on-palm) {
      font-size: 1.1rem;
    }

    @include break($on-laptop) {
      @include span-columns(6 of 8);
      @include clearfix;
      font-size: 1.2rem;
    }
  }

  .post-meta {
    @include span-columns(11 of 11);
    font-size: .9rem;
    margin-left: 0;
    color: lighten($grey-color, 10%);

    @include break($on-laptop) {
      @include span-columns(2 of 8);
      @include omega;
      color: $text-color;

      > li {
        padding-left: 8px;
        border-bottom: 1px $grey-color-light dashed;
        border-top: none;
        @include clearfix;
      }
    }
  }

  .post-category,
  .publish-date,
  .publish-edited,
  .publish-copyeditor {
    @include span-columns(6 of 12);
    @include omega(2n);

    @include break($on-laptop) {
      @include span-columns(3 of 4);
      @include shift(1 of 4);
    }
  }

  .publish-date strong {
    display: none;

    @include break($on-laptop) {
      display: inline;
    }
  }

  .post-references {
    @include span-columns(12 of 12);
    @include omega;

    @include break($on-laptop) {
      @include span-columns(3 of 4);
      @include shift(1 of 4);
    }

    ul {
      list-style: none;
      margin-left: 5px;
    }

    li {
      @include clearfix;
    }

    svg {
      margin-right: 3px;
      margin-top: 3px;
    }
  }

}
