.index {

  article {
    border-bottom: 1px $grey-color-light dotted;
    padding-bottom: 2em;
    margin-bottom: 2em;
    @include clearfix;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    @include break($on-laptop) {
      height: 12em;

      &:last-child {
        height: 10em;
      }
    }
  }

  .post-image-container {
    height: 100%;
  }

  .post-title {
    line-height: 1.5rem;
    padding-top: 1rem;

    @include break($on-laptop) {
      text-decoration: none;
    }
  }

  .post-excerpt {
    color: $grey-color-dark;
    font-family: $serif-font;
    font-size: 1.05rem;
    text-indent: 1rem;
  }

  .post-meta {
    font-size: .9rem;
    margin-left: 0;
    color: lighten($grey-color, 10%);

    @include break($on-laptop) {
      color: $text-color;

      > li {
        padding-left: 8px;
        border-bottom: 1px $grey-color-light dashed;
        @include clearfix;
      }
    }
  }

  .publish-date strong {
    display: none;

    @include break($on-laptop) {
      display: inline;
    }
  }

  .post-references {
    ul {
      list-style: none;
      margin-left: 5px;
    }

    li {
      @include clearfix;
    }

    svg {
      margin-right: 3px;
      margin-top: 3px;
    }
  }

}
