header {
  @include span-columns(12);
  position: relative;

  @include break($on-palm) {
    @include span-columns(12);
    overflow: hidden;
  }

  .site-title {
    display: none;

    @include break($on-palm) {
      display: block;
      float: left;
      width: 75%;
    }

    @include break(1024px) {
      width: 65%;
    }
  }

  .site-subtitle {
    display: none;

    @include break($on-palm) {
      display: block;
      float: left;
      width: 75%;
    }

    @include break(1050px) {
      width: 65%;
    }
  }

  .author {
    @include clearfix;
    width: 100%;

    @include break($on-palm) {
      position: absolute;
      right: 2em;
      bottom: 0;
    }
  }
}


.index {

  article {
    @include outer-container();
  }

  .post-image-container {
    display: none;

    @include break($on-laptop) {
      display: block;
      @include span-columns(3 of 12);
    }
  }

  .post-details {
    @include span-columns(16 of 18);
    @include shift(1);

    @include break($on-laptop) {
      @include span-columns(9);
      @include shift(0);
      @include clearfix;
    }
  }

  .post-title {
    @include span-columns(11 of 11);

    @include break($on-laptop) {
      @include span-columns(9 of 9);
      @include clearfix;
    }
  }

  .post-excerpt {
    @include span-columns(11 of 11);

    @include break($on-laptop) {
      @include span-columns(6 of 9);
    }
  }

  .post-meta {
    @include span-columns(11 of 11);

    @include break($on-laptop) {
      @include span-columns(3 of 9);
      @include omega;
    }
  }

  .post-category,
  .publish-date,
  .publish-edited {
    @include span-columns(6 of 12);
    @include omega(2n);

    @include break($on-laptop) {
      @include span-columns(3 of 4);
      @include shift(1 of 4);
    }
  }

  .post-references {
    @include span-columns(12 of 12);
    @include omega;

    @include break($on-laptop) {
      @include span-columns(3 of 4);
      @include shift(1 of 4);
    }
  }
}

.post-header {
  position: relative;
  @include clearfix;

  .post-title{
    display: inline;
    @include clearfix;
  }

  .post-meta {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 1rem;
    padding: 5px;
    @include clearfix;

    > li {
      @include span-columns(6 of 12);
      @include omega(2n);
    }

    > .post-references {
      @include span-columns(12);
      @include omega;
    }
  }
}

@include direction-context (right-to-left) {
  @include break($on-palm) {
    .post-header {
      .post-title {
        @include span-columns(5 of 12);
      }

      .post-meta {
        @include span-columns(4 of 12);
        @include shift(2);
        margin-top: -1em;
      }
    }
  }

  @include break($on-laptop) {
    .post-header {
      .post-title {
        @include span-columns(4 of 12);
      }

      .post-meta {
        @include span-columns(4 of 12);
        @include shift(3);
      }
    }
  }
}

@include break($on-palm) {
  .post-header .post-meta > li {
    @include span-columns(5 of 12);
    @include shift(1);
    @include omega(2n);
  }

  .post-header .post-meta .post-references {
    @include span-columns(11 of 12);
    @include shift(1);
  }
}

.post-content {
  @include outer-container;

  > * {
    @include span-columns(16 of 18);
    @include shift(1);

    @include break($on-palm) {
      @include span-columns(8 of 12);
      @include shift(2 of 12);
    }

    @include break($on-laptop) {
      @include span-columns(6 of 12);
      @include shift(3 of 12);
    }
  }

  blockquote {
    @include fill-parent;
    @include shift(0);
  }
}

footer {
  @include span-columns(12);
}
