.link-list {

  .post-image-background {
    margin-left: 0;
    margin-right: 0;

  }


  hr {
    color: transparent;
    border: none;
    border-top: 1px solid rgba($green, .3);
    margin: 2em 0 3em;
    width: 100%;
  }

  p + p {
    text-indent: 1em;
  }

  p > a {
    border-bottom: 2px solid darken($header-blue, 15%);
    color: darken($header-blue, 15%);
    font-family: $sans-serif-font;
    font-size: 1.3rem;
    font-weight: bold;

    &:hover {
      border-bottom: 0;
      text-decoration: none;
    }
  }
}
