.links-index {

  .post-image-container {
    margin-bottom: 3em;
  }

  .link-blog {
    margin-bottom: 2em;
    @include clearfix;
  }

  .post-header  {
    margin-bottom: 0;

    @include break($on-laptop) {
      padding-bottom: 0;
      @include span-columns(8 of 16);
      @include shift(3.5);
    }

    .post-title {
      border-bottom: none;
      font-size: 1rem;
      line-height: 1.3rem;
      margin-bottom: 0;
      padding-left: 1.3em;
      padding-top: .5em;
      @include fill-parent;

      @include break($on-laptop) {
        padding-left: 0;
      }
    }

    @include break($on-laptop) {
      .post-meta {
        color: $grey-color;
        float: left;
        margin: 0;
        padding: 0;

        li {
          border-bottom: none;
          font-size: .75rem;
          line-height: 1rem;
          margin-bottom: 2em;
          margin-left: 0;
        }
      }
    }

    .publish-date {
      @include fill-parent;
    }
  }

  .post-content {
    border-left: 1px solid rgba($header-shade, .3);
    margin-left: 1em;

    @include break($on-laptop) {
      position: relative;
      padding-left: 3.1799%;
      @include span-columns(8 of 16);
      @include shift(3.5);

      &:after {
        border-bottom: 1px solid rgba($header-shade, .3);
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 75px;
      }
    }

    &.single-link {
      border-left: none;

      &:after {
        border: none;
      }
    }

    > * {
      font-size: .95em;
      @include break($on-laptop) {
        @include fill-parent;
        @include shift(0);
      }
    }

    > p a {
      font-size: 1.1em;
    }

    > blockquote {
      display: none;
    }

    hr {
      @include clearfix;
      color: transparent;
      border: none;
      margin: 2em 0 3em;
      width: 100%;
    }

  }

  p > a {
    border-bottom: 2px solid $purple;
    color: darken($purple, 10%);
    font-weight: bold;

    &:hover {
      border-bottom: 0;
      text-decoration: none;
    }
  }
}
