.pagination {
  background-color: $header-orange;
  margin-top: 3em;

  p {
    color: $grey-color-dark;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
    margin-top: .8em;
  }

  .paginate-current {
    display: none;
  }

  .paginate,
  .pagination-placeholder {
    height: 50px;
    text-align: center;
    text-transform: uppercase;
  }

  .paginate {
    display: block;

    &:active,
    &:hover {
      color: $grey-color-dark;
      text-decoration: underline;
    }
  }
}
