
// for wufoo for some reason
script {
  display: none !important;
}

.post-header {

  .post-meta {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    font-size: 12px;
    background-color: lighten($header-blue, 5%);
    color: $white;
    padding: .65em;

    @include breakpoint(800) {
      padding-left: 6%;
    }
  }

  li {
    margin-right: 1em;
    width: calc(50% - 1em);

    @include breakpoint(600) {
      width: auto;
    }
  }

  .post-title {
    margin: .3em 0 2em;
    line-height: 1.2;
    padding-left: .65em;
    padding-right: .65em;
    position: relative;

    @include breakpoint(800) {
      max-width: 800px;
      padding-left: 6%;
    }

    &:after {
      content: "";
      display: block;
      width: 100px;
      transform: rotate(-8deg);
      border-top: 1px solid rgba($text-color, .5);
      background-color: transparent;
      border-bottom: 1px solid rgba($link-color, .5);
      position: absolute;
      bottom: -1em;
      height: 3px;
    }
  }

  .post-references{
    width: 100%;

    ul {
      margin: 0;
      width: 100%;
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
    }

    li {
      width: 100%;
      display: flex;

      @include breakpoint(800){
        width: auto;
      }
    }

    a {
      color: $header-orange;
      border-color: $header-orange;
      padding-left: 1em;
      font-size: 85%;

      @include breakpoint(800){
        padding-left: 0;
        font-size: 100%;
      }
    }
  }
}

.post-content {

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: .8em 1em;
    max-width: 600px;
    // display: inline-block;

    @include breakpoint(770) {
      margin: .6em auto;
    }
  }

  blockquote {
    background-color: rgba($muted-purple, .2);
    padding: 1em;
    margin: 1em 0;
    font-size: 110%;

    @include breakpoint(400) {
      padding-left: calc(50% - 350px);
      padding-right: calc(50% - 350px);
    }
  }

  ul {
  }

  ul,
  ol, {
    margin-bottom: 0;
    li {
    }

    li p + p{
    }
  }

  hr {
    margin: 2em 0;
    background: none;
    border: none;
    border-top: 1px solid $grey-color-light;
  }

  iframe {
  }
}
