.post-image-background {
  background-image: url(/img/icons/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  height: 4em;
  width: 4em;

  @include break($on-palm) {
    height: 3em;
    width: 3em;
  }

  @include break($on-laptop) {
    height: 4em;
    width: 4em;
  }
}

.title-icon {
  background-image: url(/img/icons/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  height: 50px;
  margin: 1em auto 0;
  @include transform( rotate(70deg) );
  width: 50px;

  @include break($on-palm) {
    @include transform( rotate(10deg) );
  }

  @include break($on-laptop) {
    margin-top: 1.7em;
    @include transform(rotate(-7deg));
  }
}

.post-image-container .post-link {
  display: block;
  margin-top: 5%;
  opacity: .9;
  position: relative;
  height: 90%;
  width: 90%;
  @include transform(rotate(-10deg));
}

@include category(links, 'newspaper.svg');
@include category(personal, 'pencil.svg');
@include category(code, 'tools.svg');
@include category(ux, 'heart.svg');
@include category(quote, 'quote.svg');
@include category(book, 'book.svg');
@include category(video, 'video.svg');
