---
layout: default
wrapper: links-index
title: Links Worth Reading
---

<div class="post-image-container">
  <div class="post-image-background links">
    <span class="post-link"></span>
  </div>
</div>

{% for post in site.categories.links %}

  {% if post.subcategory == "single-link" %}

    <section class="link-blog category-index">
      <article class="post-content single-link">
        <p><a class="post-link" href="{{ post.references[0].url }}">{{ post.title | strip_html }}</a></p>

        {{ post.content }}
      </article>
    </section>

  {% else  %}

    <section class="link-blog category-index">
      <div class="post-header">
        <h1 class="post-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | strip_html }}</a></h1>
        <ul class="post-meta">
          <li class="publish-date"><strong>Published</strong> {{ post.date | date: "%b %-d, %Y" }}</li>
        </ul>
      </div>
      <article class="post-content">
        {{ post.content }}
      </article>
    </section>

  {% endif %}
{% endfor %}
