
.book-image {
  position: relative;
  text-align: center;

  img {
    border: 10px solid rgba($muted-purple, .2);
    max-height: 250px;

    @include breakpoint(1030) {
      border: 1px solid $muted-purple;
    }
  }

  @include breakpoint(1030){
    position: absolute;
    left: 6%;
    max-width: 180px;
  }

}

.book-details {
  margin: 1em auto 4em;
  border-bottom: 1px solid rgba($muted-purple, .2);
  font-size: 80%;

  .book-title,
  .book-author,
  .book-content,
  .book-published {
    line-height: 1.3em;
    // margin: .1rem 0 .1rem 1rem;
    margin: .1rem 1rem;

    @include breakpoint(800) {
      margin: .1rem auto;
    }

    @include breakpoint(1030) {
      margin: 0 auto;
      margin-bottom: .3rem;
    }
  }

  .book-title {
    margin-top: 1em;

    @include breakpoint(1030){
      margin-top: 0;
    }
  }

}
