
.book-image {
  position: relative;
  text-align: center;
  margin-top: 2em;

  img {
    border: 10px solid rgba($muted-purple, .2);
    max-height: 250px;

    @include breakpoint(1030) {
      border: 1px solid $muted-purple;
    }
  }

  @include breakpoint(1030){
    position: absolute;
    left: 6%;
    max-width: 180px;
  }

}


.book-title,
.book-author,
.book-published {
  line-height: 1.3em;
  margin-left: 1em;
  margin: .1rem 1rem;

  @include breakpoint(800) {
    margin: .1rem auto;
  }

  @include breakpoint(1030) {
    margin: 0 auto;
    margin-bottom: .3rem;
  }
}

.book-published {
  font-size: 12px;
  margin-top: .8em;
}

.book-title {
  margin-top: 1em;

  @include breakpoint(1030){
    margin-top: 0;
  }
}

