header {
  position: relative;
  padding: 40px 0;
  border-left: 5px solid $header-shade;
  background-color: rgba($header-shade, .1);
  width: 100%;

  h1,
  nav {
    display: inline-block;
    margin-left: 10px;
    padding-bottom: 5px;
    color: $header-blue;
  }

  h1 {
    margin-bottom: 0;
  }

  a {
    color: $header-blue;
    border-bottom: none;
  }

  nav a{
    color: $header-blue;
  }

}
