header {
  position: relative;
  padding: 0;
  border-bottom: 2px solid $white;
  background-color: $header-border;
  width: 100%;
  overflow: hidden;
  nav {
    display: block;
    margin-left: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: $white;
    transform: rotate(-2deg);
    @include breakpoint(700) {
      transform: rotate(0);
      max-width: 700px;
      margin: 0 auto 20px;
    }
  }

  h1 {
    margin-left: 8px;
    margin-bottom: 0;
    margin-top: 30px;
    display: block;
    font-size: 35px;
    line-height: 1;
    text-align: center;
    transform: rotate(-2deg);

    @include breakpoint(700) {
      transform: rotate(0);
      max-width: 700px;
      margin: 20px auto 0;
    }
  }

  h1 a {
    border-bottom: none;
    color: $white;
  }


  nav a {
    color: $white;
    border-bottom: 1px solid $white;
  }

}
