header {
  position: relative;
  padding: 0;
  background-color: $header-border;
  width: 100%;
  overflow: hidden;
  nav {
    display: block;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    color: $white;
    @include breakpoint(700) {
      max-width: 700px;
      margin: 0 auto 20px;
      text-align: center;
    }
  }

  h1 {
    margin-left: 8px;
    margin-bottom: 5px;
    margin-top: 30px;
    display: block;
    font-size: 25px;
    line-height: 1;

    @include breakpoint(700) {
      max-width: 700px;
      text-align: center;
      margin: 20px auto 5px;
    }
  }

  h1 a {
    border-bottom: none;
    color: $white;
  }


  nav a {
    color: $white;
    border-bottom: 1px solid $white;
  }

}
