.links-index {

  .post-image-container {
    margin-bottom: 3em;
  }

  .link-blog {
    margin-bottom: 2em;
  }

  .post-header  {
    margin-bottom: 0;
    padding-bottom: 0;

    .post-meta {
      float: left;
    }

    .post-title {
      border-bottom: none;
      font-size: 1rem;
      line-height: 1.3rem;
      margin-bottom: 0;
      padding-left: 0;
      padding-top: .5em;
    }

    // @include break($on-laptop) {
      .post-meta {
        color: $grey-color;
        float: left;
        margin: 0;
        padding: 0;

        > li {
          border-bottom: none;
          font-size: .75rem;
          line-height: 1rem;
          margin-bottom: 2em;
          margin-left: 0;
        }
      }
    // }

  }

  .post-content {
    border-left: 1px solid rgba($header-shade, .3);
    margin-left: 1em;
    padding-left: 3.1799%;

    &.single-link {
      border-left: none;

      &:after {
        border: none;
      }

      p > a {
        font-size: 1.3em;
      }
    }

    > blockquote {
      display: none;
    }

    hr {
      color: transparent;
      border: none;
      margin: 2em 0 0;
      width: 100%;
    }

  }

  p > a {
    border-bottom: 2px solid $purple;
    color: darken($purple, 10%);
    font-weight: bold;

    &:hover {
      border-bottom: 0;
      text-decoration: none;
    }
  }
}
