
// for wufoo for some reason
script {
  display: none !important;
}

.post-header {
  background-color: $white;

  .post-meta {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    border-left: 5px solid $meta-border;
    background-color: rgba($meta-border, .1);
    padding: .65em;
    width: 100%;
    box-sizing: border-box;

    @include breakpoint(800) {
      padding-left: 6%;
    }
  }

  li {
    margin-right: 1em;
    font-size: 12px;
    width: calc(50% - 1em);
    margin-bottom: 10px;

    @include breakpoint(600) {
      font-size: .8em;
      width: auto;
      margin-bottom: 0;
    }
  }

  .post-reference-header {
    font-size: .8rem;
    margin-bottom: 0;
    margin-top: 5px;
    width: 100%;
  }

  .post-references {
    width: 100%;
    margin-bottom: 0;

    ul {
      margin: 0;
      width: 100%;
      list-style: none;
    }
  }

  .post-reference {
    font-size: 13px;
    width: 100%;
    display: block;
    padding: 3px 5px;
    margin-bottom: 0;

    @include breakpoint(800){
      width: auto;
    }
  }

  .post-title-wrapper {
    border-left: 5px solid lighten($content-border, 5%);
    padding: 2em 0;
    width: 100%;
  }

  .post-title {
    line-height: 1.4;
    padding-left: 20px;
    margin: 0;
    position: relative;
  }
}

.post-content {
  border-left: 5px solid lighten($content-border, 5%);
  background-color: $white;

  &:after {
    content: "";
    width: 100px;
    display: inline-block;
    position: relative;
    transform: translate3d(-50%, -2em, 0);
    border-bottom: 1px solid lighten($content-border, 5%);
    margin-left: 50%;
  }

  p:first-child {
    margin-top: 0;
    padding-top: 1em;
  }

  p,
  h1,
  h2,
  h3,
  // h4, excluded for inline headers
  h5,
  h6 {
    margin: 1em;
    max-width: 600px;

    @include breakpoint(770) {
      margin: 1.4em auto;
    }
  }

  h4 {
    margin: 0 1em;

    @include breakpoint(770) {
      max-width: 600px;
      margin: 0 1.4em;
    }
  }

  p:last-child {
    margin-bottom: 0;
    padding-bottom: 3em;
  }


  ul,
  ol, {
    margin: .8em 1em .8em 2.2em;
    max-width: 600px;

    @include breakpoint(770) {
      margin: 1.4em auto;
    }
  }

  li {
    margin-bottom: .3em;
  }

  li > ul {
    margin-top: .1em;
    margin-left: 1em;
  }

  p,
  li {
    font-size: 1.1rem;
    line-height: 1.5;
  }

  blockquote {
    // border-top: 1px solid rgba($text-color, .5);
    // border-bottom: 1px solid rgba($link-color, .5);
    background-color: rgba($link-color, .1);
    padding: 1em;
    margin: 1em 0;
    font-size: 1.25rem;
    font-style: italic;

    @include breakpoint(400) {
      margin: 0 auto;
      max-width: 700px;
    }

    p {
      margin: 0 auto;
    }

    p + p {
      margin-bottom: 1.4em;
    }

    p:last-child {
      padding-bottom: 0;
      margin-bottom: 1em;
    }
  }


  hr {
    margin: 2em 0;
    background: none;
    border: none;
    border-top: 1px solid $grey-color-light;
  }

  iframe {
  }
}

.link-list blockquote:first-child {
  border-top: none;
}
