.promo-module {
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 1em;
  position: relative;
  border-left: 5px solid $purple;

  @include breakpoint(500) {
    border-bottom: none;
    margin-top: 4em;
    width: 90%;

    &:after {
      content: "";
      display: block;
      width: 100px;
      transform: rotate(-8deg);
      border-top: 1px solid rgba($text-color, .5);
      background-color: transparent;
      border-bottom: 1px solid rgba($link-color, .5);
      position: absolute;
      bottom: -2em;
      left: calc(50% - 50px);
      height: 3px;
    }

    &:last-child:after {
      display: none;
    }
  }

  @include breakpoint(1000) {
    max-width: 850px;
    padding: 1em 25px;
    margin-left: 4%;
  }
}

.promo__meta {
  width: 100%;
  display: inline-block;
  list-style: none;
  margin: 0;
  position: relative;
  @include clearfix;

  @include breakpoint(800) {
    margin-bottom: 1em;
  }

  li {
    float: left;
    padding-left: .3em;
    padding-right: .3rem;
    font-size: .8em;
    text-transform: uppercase;
  }
}

.promo__category {
  border-left: 1px solid $grey-color-light;
}


.promo__copy {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  padding-left: .3rem;

  p {
    flex: 0 0 100%;
    margin: 0;
    line-height: 1.4;
    font-size: 15px;
  }

  @include breakpoint(800) {
    font-size: $base-font-size;
    flex-direction: row;
    padding-left: 1rem;
    p {
      flex: 7 0 0;
      line-height: 1.5;
      font-size: 1em;
    }
  }
}

.promo__title {
  display: block;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: .3em;
  position: relative;

  a {
    color: $purple;
    background: none;
    border-bottom: 2px solid $purple;

    &:hover,
    &:active {
      border: 1px solid $purple;
    }
  }

  &:hover {
    border-bottom:2px solid rgba($text-color, .5);
    padding-right: 10px;
    transition: padding-right .2s ease-out, border-bottom .2s linear;
  }
}

.promo__external-source {
  margin: 0;
  background-color: rgba($purple, .1);
  position: relative;
  transition: padding-right .2s ease-out;

  a {
    color: $purple;
  }
}

.promo__description {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 1em;
}

@include breakpoint(700) {
  .promo__external-source {
    padding-right: 1em;
    p {
      font-size: 13px;
      line-height: 2;
    }
  }
}
