---
layout: default
---
<div class="book">

  <div class="post-header">

    <ul class="post-meta">
      <li class="publish-date">Published: <strong>{{ page.date | date: "%b %-d, %Y" }}</strong></li>
      <li class="post-category">Category: <strong>{{ page.category | capitalize }}</strong></li>

      {% if page.copyeditor %}
        <li class="publish-copyeditor">Copyedited by <br/><a href="{{ page.copyeditor.url }}" target="_blank">{{ page.copyeditor.name }}</a></li>
      {% endif %}

      {% if page.references %}
        <li class="post-references">
          <ul>
            <li class="post-reference">Referenced within</li>
            {% for reference in page.references %}
            <li class="post-reference">
              <a href="{{ reference.url }}" target="_blank">
                {{ reference.title }}
              </a>
            </li>

          {% endfor%}</ul>
        </li>
      {% endif %}

      {% if page.powells %}
        <li class="post-powells"><a href="{{ page.powells }}" target='_blank'>Buy on Powells</a></li>
      {% endif %}

      {% if page.amazon %}
        <li class="post-amazon"><a href="{{ page.amazon }}" target='_blank'>Buy on Amazon</a></li>
      {% endif %}

      <li class="post-local-bookstore"><a href="http://www.indiebound.org/indie-store-finder" target="_blank">Find a Local Bookstore</a></li>

    </ul>

    <h1 class="post-title">{{ page.title }}</h1>

  </div>

  <article class="post-content">
    <div class="book-details">
      <div class="book-image">
        <img src="{{ page.book.cover }}" alt="cover of {{ page.book.title }} by {{ page.book.author }}">
      </div>

      {% if page.book.url %}
        <h2 class="book-title"><a href="{{ page.book.url }}">{{ page.book.title }}</a></h2>
      {% else %}
        <h2 class="book-title">{{ page.book.title }}</h2>
      {% endif %}

      <h3 class="book-author">{{ page.book.author }}</h3>

      <p class="book-published"><em>Copyright {{ page.book.published }}, {{ page.book.publisher }}</em></p>

    </div>

    <div class="book-content">
      {{ content }}
    </div>
  </article>

</div>
