---
layout: default
---
<div class="book">

  <div class="post-header">

    {% include post_meta.html %}

    <div class="post-title-wrapper">
      <h1 class="post-title">{{ page.title }}</h1>

      {% if page.book.url %}
        <h3 class="book-author"><a href="{{ page.book.url }}">{{ page.book.author }}</a></h3>
      {% else %}
        <h3 class="book-author">{{ page.book.author }}</h3>
      {% endif %}

      <p class="book-published"><em>Copyright {{ page.book.published }}, {{ page.book.publisher }}</em></p>

      <div class="book-image">
        <picture>
          <source srcset="{{ page.book.cover }}" media="(max-width: 600px)">
          <img src="{{ page.book.cover }}" alt="cover of {{ page.book.title }} by {{ page.book.author }}">
        </picture>
      </div>
    </div>

  </div>

  <article class="post-content book-content">
      {{ content }}
  </article>

</div>
