---
layout: default
---
<div class="link-list">

  <div class="post-header">

    <ul class="post-meta">
      <li class="publish-date">Published: <strong>{{ page.date | date: "%b %-d, %Y" }}</strong></li>
      <li class="post-category">Category: <strong>{{ page.category | capitalize }}</strong></li>

      {% if page.copyeditor %}
        <li class="publish-copyeditor">Copyedited by <br/><a href="{{ page.copyeditor.url }}" target="_blank">{{ page.copyeditor.name }}</a></li>
      {% endif %}

      {% if page.references %}
        <li class="post-references">
          <ul>
            <li class="post-reference">Referenced within</li>
            {% for reference in page.references %}
            <li class="post-reference">
              <a href="{{ reference.url }}" target="_blank">
                {{ reference.title }}
              </a>
            </li>

          {% endfor%}</ul>
        </li>
      {% endif %}

    </ul>

    <h1 class="post-title">{{ page.title }}</h1>

  </div>

  <article class="post-content">
    {{ content }}
  </article>

</div>
