---
layout: default
---
<div class="post">

  <div class="post-header">

    {% include post_meta.html %}

    <div class="post-title-wrapper">
      <h1 class="post-title">{{ page.title }}</h1>
    </div>

  </div>

  <article class="post-content">
    {{ content }}
  </article>

    {% if page.references %}
    <section class="post-references">
      <p class="post-reference-header"><strong>Notes and References:</strong></p>

      <ul>
        {% for reference in page.references %}
        <li class="post-reference">
          {% if reference.url %}
            <a href="{{ reference.url }}" target="_blank">
              &#9728 {{ reference.title }}
            </a>
          {% else %}
            {{ reference.title }}
          {% endif %}
        </li>

      {% endfor%}</ul>
      </section>
  {% endif %}

</div>
