@function getBreakpoint($int) {
  $current: map-get($breakpoints, first);

  @each $pt in map-keys($breakpoints) {
    @if $int > map-get($breakpoints, $pt) {
      $current: map-get($breakpoints, $pt);
    }
  }

  @return $current;
}

@mixin breakpoint($width) {
    $brk: #{$width}px;
    @if (typeof($width) == 'string') {
      $brk: #{getBreakpoint($width)}px;
    }

    @media screen and (min-width: $brk) {
        @content;
    }
}

@mixin category($category, $icon) {
  .#{$category} .post-link {
    background: url(/img/icons/#{$icon}) center no-repeat;
    background-size: 70% 70%;
  }
}

@mixin clearfix() {
  &:after {
      content: "";
      display: table;
      clear: both;
  }
}
