$serif-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
$sans-serif-font: Georgia, sans-serif;
$big-font: Merriweather, serif;
$monospace-font: "botanika-mono-web",sans-serif;

// Our variables
$base-font-family: $serif-font;
$base-font-size:   1rem;
$small-font-size:  0.875em;
$base-line-height: 1.5;

$spacing-unit:     30px;

$breakpoints: (
  first: 375,
  second: 425,
  third: 768,
  fourth: 900,
  fifth: 1024,
  sixth: 1440
);

$text-color:       #353f69;
$background-color: #fff;
$link-color:       #724D81;

$header-border:    #A53F3C;
$meta-border:      #497DB4;
$content-border:   #475078;

$brand-color:      #2a7ae2;
$header-shade:     #4089AE;
$header-text:      #EFD2C6;
$header-orange:    #D4C611;
$header-blue:      #4089AE;
$header-orange-faint: #FBEAE2;
$header-blue-faint: #DAEAF4;

$white:            #ffffff;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$red:           #DF4642;
$dark-orange:   #EA815D;
$orange:        #F2A568;
$green:         #C9DBBF;
$muted-purple:  #B79393;
$purple:        #8A326B;

$promo-border: 6px solid rgba($green, .9);
